<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>HabTrak Habit Tracker App</title>
</head>

<body>
    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="pb-2 mt-4 mb-2 border-bottom">HabTrak</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p>Welcome USERNAME, here is your progress so far:</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h1>99</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p>Have you made progress today?</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form action="/data/" method="post">
                    <input type="submit" value="Yes">
                    <input type="submit" value="No">
                </form>
            </div>
        </div>
    </div>
</body>

</html>